NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ksit
JWT_SECRET=supersecretjwt
OTP_EXPIRY_MINUTES=5
OTP_RESEND_LIMIT=3
FAST2SMS_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADMIN_EMAIL=admin@ksit.edu
ADMIN_PASSWORD=ChangeMe123
UE_PACKAGE_NAME=com.ksit.ar.explorer
UE_ACTIVITY_NAME=com.epicgames.ue4.GameActivity

